@import "variables";

.portfolio {
  background-color: $portfolio;
  .sub-heading {
    color: $port-sub-heading;
  }
  h2 {
    color: $main-text;
    &:after {
      background: url("../img/portfolio-heading-shape.png") center no-repeat;
    }
  }
  //slider
  .slider-caption {
    padding: 0;
    bottom: 50%;
  }
  a.slider-control {
    opacity: 1;
    width: 62px;
    height: 78px;
    top: 37%;
    background: url("../img/icons/slider-arrows.png") no-repeat center center $elements;
  }
  a.slider-control.left {
    background-position: 17px 16px;
    left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  a.slider-control.right {
    background-position: -26px 16px;
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  // project-info
  .project-info {
    font-weight: 300;
    p {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    li:before {
      content: "";
      display: inline-block;
      margin-right: 15px;
      width: 10px;
      height: 10px;
      background: url("../img/icons/portfolio-list.png") no-repeat center;
    }
    .info-type {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .info-body {
      padding-bottom: 25px;
      border-bottom: 1px solid $main-text;
      margin-bottom: 15px;
    }
    .project-name {
      font-weight: bold;
      font-size: 23px;
    }
    .last-type {
      border: none;
    }
  }
  // portfolio navigation
  .portfolio-nav {
    margin-bottom: 2rem;
    ul {
      margin: 0 auto;
      display: table;
    }
    li {
      display: table-cell;
      padding: 0 15px 0 0;
    }
    li:last-child {
      padding-right: 0;
    }
    button {
      background: transparent;
      border: none;
      font-size: 12px;
      line-height: 40px;
      padding: 0 16px;
      &:hover,
      &:focus,
      &.active-button {
        text-decoration: none;
        border: 1px solid $main-text;
        border-radius: 2px;
        padding: 0 15px;
        line-height: 38px;
        outline: none;
      }
    }
  }
  // portfolio previews

  .preview-row {
    font-size: 0;
    margin-bottom: 1rem;
    &:last-child {
      text-align: center;
      margin-bottom: 0;
    }
    .preview-block {
      .project-preview {
        opacity: 0;
      }
      display: inline-block;
      height: 13rem;
      border-radius: 10px;
      cursor: pointer;
      background: #f8e798;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: $header-bg;
        .project-preview {
          opacity: 1;
          transition: opacity, .3s;
        }
      }
    }
    .preview-hidden {
      opacity: .4;
      transition: opacity, .7s;
      cursor: default;
      &:hover {
        background: #f8e798;
        .project-preview {
          opacity: 0;
        }
      }
    }
    .project-preview {
      position: relative;
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      top: 10%;
      width: 100%;
      .preview-name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .preview-description {
        max-width: 80%;
        margin: 0 auto 15px;
      }
      .preview-btn {
        border-radius: 50%;
        height: 65px;
        width: 65px;
        background: $preview-btn;
        &:hover,
        &:focus{
          color: $main-text;
        }
      }
    }
  }
}