$main-text: #fff;
$header-bg: #5c5766;
$about: #524664;
$portfolio: #ec8a3e; // orange text
$gray-text: #696969; // about section
$gray-text-2: #a5aabe; // blog sub-heading
$percents: #4a5561; // skills
$blog-text: #222; // paragraphs, comments, nav headings
$blog-nav: #545; // sub links
$blog-heading: #373c4f; // heading of paragraph
$about-sub-heading: #d0c6db; // sub-heading on about-page
$port-sub-heading: #fff0ca;
$about-light: #615474;
$elements: #c6aa6d;
$blog-shape: #f4f4f4;
$blog-form: #a8a8a8;
$blog-form-2: #eee;
$contact: #5b6074;
$preview-btn: #bc492b;

